<!DOCTYPE html>
<html>
<include head />
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <p id="q"></p>
    <script>
        const socket = io('/');

        socket.on('avatarInfo', msg => {
            console.log('avatarInfo');
            console.log(msg);
        });

        socket.on('question', msg => {
            console.log(msg);
        });

        socket.on('roundResult', msg => {
            console.log(msg);
        });

        socket.on('matchend', msg => {
            console.log(msg);
        });

    </script>

</body>
</html>